{{!--

    Relation Widget, as Form Group
    ===========================

--}}

<fieldset>

    {{# showHeader }}
    <header class="o-header -border">
        {{# showTitle }}
        <h2>{{ title }}</h2>
        {{/ showTitle }}

        {{> charcoal/admin/template/inc.description }}
    </header>
    {{/ showHeader }}

    {{!-- Include the RelationWidget }}
    {{> charcoal/admin/widget/relation }}

    {{> charcoal/admin/template/inc.notes }}

</fieldset>
