<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap.php"
    convertErrorsToExceptions="true"
    colors="true"
    verbose="true"
>
	<testsuites>
		<testsuite name="Charcoal CMS Test Suite">
            <directory>Charcoal/Admin/</directory>
            <directory>Charcoal/Cms/</directory>
			<directory>Charcoal/Property/</directory>
		</testsuite>
	</testsuites>
    <filter>
    <whitelist>
        <directory suffix=".php">../src/Charcoal/Admin</directory>
        <directory suffix=".php">../src/Charcoal/Cms</directory>
        <directory suffix=".php">../src/Charcoal/Property</directory>
    </whitelist>
    </filter>
	<logging>
		<log type="coverage-html" target="tmp/report" charset="UTF-8" highlight="true" lowUpperBound="40" highLowerBound="80" />
		<log type="coverage-clover" target="tmp/coverage.xml"/>
		<!--<log type="coverage-php" target="tmp/coverage.serialized"/>-->
		<!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
		<!--<log type="json" target="tmp/logfile.json"/>-->
		<!--<log type="tap" target="tmp/logfile.tap"/>-->
		<!--<log type="junit" target="tmp/logfile.xml" logIncompleteSkipped="false"/>-->
		<log type="testdox-html" target="tmp/testdox.html"/>
		<log type="testdox-text" target="tmp/testdox.txt"/>
	</logging>
</phpunit>
