<div class="btn-group" role="group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="object/edit?obj_type={{ objType }}&obj_id={{ id }}">{{# _t }}Edit{{/ _t }}</a></li>
        <li><a href="object/delete?obj_type={{ objType }}&obj_id={{ id }}" data-type="{{ type }}" data-id="{{ id }}" data-action="delete">{{# _t }}Remove{{/ _t }}</a></li>
    </ul>
</div>
