<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <a class="btn btn-primary js-add-pivot" href="{{ baseUrl }}admin/object/edit?obj_type={{ targetObjectType }}" data-type="{{ targetObjectType }}" data-title="{{ dialogTitle }}" target="_blank">
            {{# _t}}Add{{/ _t }}{{! objType.label }}
        </a>
    </div>
</div>
