{{!--

    Relation Widget \ JS Component
    ==============================

    @used-by `charcoal/admin/widget/relation`

--}}

{{# addJsRequirement }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{{/ addJsRequirement }}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/relation.js }}
</script>
{{/ addJsRequirement }}

{{# addJs }}
<script>
{{!
    @see Charcoal.Admin.Widget_Relation
}}
Charcoal.Admin.manager().add_widget({
    id: '{{ widgetId }}',
    type: 'charcoal/admin/widget/relation',
    data: {
        obj_type : '{{ objType }}',
        obj_id   : '{{ objId }}',
        group    : '{{ group }}'
    },
    widget_options: {{& widgetOptions }}
});
</script>
{{/ addJs }}
