{{!--

    Relation Widget
    ============

    @see `charcoal/admin/widget/table`

    This widget expects to be in a context (model) of type `\Charcoal\Admin\Widget\Table`.

--}}

<div id="{{ widgetId }}" class="c-attachments">
    {{^ hasObj }}
    {{> charcoal/admin/widget/relation/unsaved }}
    {{/ hasObj }}
    {{# hasObj }}
    <header class="c-attachments_header">
        {{> charcoal/admin/widget/relation/header }}
    </header>

    {{> charcoal/admin/widget/relation/list }}

    <div class="js-relation-template hidden">
        <a class="thumbnail js-relation" href="#" data-id="" data-type=""></a>
    </div>
    {{/ hasObj }}
</div>

{{# hasObj }}
{{> charcoal/admin/widget/relation/js }}
{{/ hasObj }}
